<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
	    <meta name="description" content="">
	    <meta name="author" content="">
	
	    <title>Create an account</title>
	
	    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/common.css}" />
	    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}" />
	
	</head>
	
	<body>	
		<form action="#" th:action="@{/signup}" method="post" modelAttribute="userForm" class="m-t" role="form">
		
			<div class="form-group input-group has-feedback">
				<input type="text" placeholder="Username" th:field="${userForm.name}" autofocus="true" class="form-control" required/>
				<span class="glyphicon form-control-feedback" aria-hidden="true"></span>			
			</div>
		
			<div class="form-group input-group has-feedback">
				<input type="email" placeholder="Email" th:field="${userForm.email}" autofocus="true" class="form-control" required/>
				<span class="glyphicon form-control-feedback" aria-hidden="true"></span>			
			</div>
		
			<div class="form-group input-group has-feedback">
				<input type="password" placeholder="Password" th:field="${userForm.password}" class="form-control" required>
				<span class="glyphicon form-control-feedback" aria-hidden="true"></span>		
			</div>
			
			<div class="form-group input-group has-feedback">
				<input type="password" placeholder="Password Confirm" th:field="${userForm.passwordConfirm}" class="form-control" required />
				<span class="glyphicon form-control-feedback" aria-hidden="true"></span>		
			</div>
            
			<button class="btn btn-primary block full-width m-b" type="submit">Submit</button>
		</form>
	
		<table>
		    <tr th:each="var : ${#vars}">
		        <td th:text="${var.key}"></td>
		        <td th:text="${var.value}"></td>
		    </tr>
		</table>
	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</body>
</html>